@using System.Security.Claims;

@{
    ViewData["Title"] = "Home Page";
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        @TempData["Message"]
    </div>
}

@if (User.FindFirstValue(ClaimTypes.NameIdentifier) == null) 
{
    <div class="text-center">
        <h4>Note: Todo Lists created without an account will be deleted automatically after 24 hours.</h4>
    </div>
    <br />
}

<div class="text-center">
    <a class="btn btn-primary" asp-action="CreateTodoList" asp-controller="Home">Create a ToDo List</a>
    @if (User.Identity.IsAuthenticated)
    {
        <a class="btn btn-primary" asp-action="ViewAllToDoLists" asp-controller="Home" asp-route-userId="@User.FindFirstValue(ClaimTypes.NameIdentifier)">View ToDo Lists</a>
    }
</div>

<a id="deleteAllLists" asp-action="DeleteUnregisteredLists" asp-controller="Home"></a>

<script>
    function deleteLists() {
        document.getElementById("deleteAllLists").click();
    }

    setTimeout(function () { deleteLists(); }, 86400); //86400 is 24 hours
</script>
