@{
    ViewData["Title"] = "Home Page";
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        @TempData["Message"]
    </div>
}

<div class="text-center">
    <a class="btn btn-primary" asp-action="CreateTodoList" asp-controller="Home">Create a ToDo List</a>
</div>
