@model TDTask

<h3>Completed Tasks</h3>
<table class="table">
    <tbody>
@foreach (TDTask task in ViewBag.Tasks) {
    if (task.isCompleted)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => task.TaskTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => task.Description)
            </td>
            <td>
                <a class="btn btn-danger text-dark" asp-action="DeleteTask" asp-controller="Home" asp-route-id="@task.TaskId">Delete</a>
            </td>
            <td>
                <a class="btn btn-warning text-dark float-right" asp-action="UndoCompletedTask" asp-controller="Home" asp-route-id="@task.TaskId">Undo Completion</a>
            </td>
        </tr>
    }
}
    </tbody>
</table>
